* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.post {
  padding: 20px;
  background-color: blue;
  color: #dddddd;
  cursor: pointer;
  font-size: 2rem;
}

.hide-table {
  display: none;
}

.hide-form {
  display: none;
}

table {
  font-family: arial, sans-serif;
  border: 1px solid #d3d3d3;
  padding: 60px;
}

table .td-status {
  display: flex;
  justify-content: space-around;
}

table .td-status button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hide {
  display: none;
}

input {
  width: 80%;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

form button {
  padding: 20px;
  background-color: dodgerblue;
  color: #dddddd;
  cursor: pointer;
  font-size: 1.5rem;
}

form .btn {
  display: flex;
  flex: 1;
}

form button {
  width: 50%;
}

form button:nth-child(2) {
  color: #000;
  background-color: greenyellow;
}

form,
input,
select {
  width: 100%;
  padding: 10px;
}
