* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.post {
  padding: 20px;
  background-color: blue;
  color: #dddddd;
  cursor: pointer;
}

.hide-table {
  display: none;
}
table {
  font-family: arial, sans-serif;
  border: 1px solid black;
  padding: 60px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hide {
  display: none;
}

input {
  width: 80%;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

form button {
  padding: 20px;
  background-color: dodgerblue;
  color: #dddddd;
  cursor: pointer;
}

form,
input,
select {
  width: 100%;
  padding: 10px;
}
